body{
    background: white;
}

#pro-btn{
    display:none;
}

@media only screen and (max-width: 40em) { 
    #pro-btn{
       margin: auto;
    }
}

@media only screen and (min-width: 64.063em) { 
    #pro-btn{
      float:right;
    }
}

/*CURRENT HTML DESIGN*/
/*GRID*/
.no-tile{
    display:none;
}
.show{
    display: block;
}


.grid-item--gigante{
 width: 100%;
 height: 300px;
 margin: auto;
padding: 0;
}

.display-none{
    display:none; 
}
.tile-text{
    font-size: .9em;
    display: block;
    text-align: center;
    
}